/* GENERIC MODULE STYLES
============================= */
.mod                             { margin-bottom: 20px; }
.mod .hd                         { position: relative; }
.mod .hd h2                      { border-bottom: 1px solid #e1e1e1; position: relative;}
.mod .hd h2 a                    { border: none; }
.mod .hd h2 .secondary           { position: absolute; right: 0; bottom: 7px; font-size: 12px; }
.mod .bd                         { position: relative; }
.mod .bd ul                      { list-style: none; margin: 0 0 15px; padding: 0; }
.mod .bd ul li                   { position: relative; border-bottom: 1px solid #f1f1f1; padding: 5px 0; }
.mod .bd ul li img               { float: left; margin-top: 6px; margin-left: 4px;}
.mod .ft                         { position: relative; }

/* PLACES A BOX AROUND MODULE CONTENT */
.box {
	background: rgba(0, 0, 0, .03);
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	boder-radius: 3px;
/*	-moz-box-shadow: #999 0 0 1px;
	-webkit-box-shadow: #999 0 0 1px;
	box-shadow: #999 0 0 1px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

.mod.box .hd, 
.mod.box .bd, 
.mod.box .ft { padding: 0 10px; } 